@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
    font-family: Dosis, Verdana;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
}

#textInput {
    background-color: whitesmoke;
    padding: 1rem;
    border: 1px solid #e3e3e3;
}

.header1 {
    background-color: whitesmoke;
    padding: 1rem;
    border: 1px solid #e3e3e3;
}

.users {
    font-family: Verdana;
    font-size: 14px;
    /* width:200px;
    margin:0 auto;
    text-align:left; */
}

input, input[type=text] {
    font-family: Verdana;
    font-size: 14px;
    border: 2px solid rgba(128, 128, 128, 0.507);
    border-radius: 8px;
}

button , input[type=button] {
    background-color: white;
    padding: 5px 15px;
    font-family: Verdana;
    font-size: 16px;
    border: 2px solid rgb(187, 213, 233);
    border-radius: 6px;
    transition-duration: 0.4s;
}

button:hover, input[type=button]:hover {
    background-color:rgb(187, 213, 233);
}

dl li {
    list-style: none;
    margin-top: 1rem;
}

dl {
    padding: 1rem;
}

dl:nth-of-type(even) {
    background-color: whitesmoke;
}