body {
    font-family: Verdana;
    text-align: center;
}

.header1 {
    background-color: rgba(172, 198, 217, 0.76);
    padding: 5px 15px
}

.users {
    font-family: Verdana;
    font-size: 14px;
    width:200px;
    margin:0 auto;
    text-align:left;
}

input, input[type=text] {
    font-family: Verdana;
    font-size: 14px;
    border: 2px solid rgba(128, 128, 128, 0.507);
    border-radius: 8px;
}

button , input[type=button] {
    background-color: white;
    padding: 5px 15px;
    font-family: Verdana;
    font-size: 16px;
    border: 2px solid rgb(172, 198, 217);
    border-radius: 6px;
    transition-duration: 0.4s;
}

button:hover, input[type=button]:hover {
    background-color:rgb(172, 198, 217);

}